################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fit_Tracker/copilot-chat/2e30396c/sessions
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/Fit_Tracker/obj/
/Fit_Tracker/bin/
/Fit_Tracker/obj/*
/Fit_Tracker/bin/*
